/* Styles pour le carrousel */
.carousel-container {
    width: 400px;
    overflow: hidden;
    position: relative;
}

.carousel img {
    display: flex;
    transition: transform 0.5s ease;
    z-index: -1;
    max-height: 300px;
    min-height: 200px;
}

.carousel img {
    width: 100%;
    height: auto;
}

/* Styles pour les boutons de navigation */
.carousel-control {
    cursor: pointer;
    user-select: none;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control.left {
    left: 0;
}

.carousel-control.right {
    right: 0;
}